<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0 mx-auto">
    <div class="card mx-auto p-3">
      <%# <div class="card-body"> %>
        <h5 class="card-title">Title: <%= post.title %></h5>
        <p class="card-text"><%= post.text %></p>
        <p class="m-0 text-sm">Likes: <%= post.likes_counter %></p>
        <p class="m-0 text-sm">Comments: <%= post.comments_counter %></p>
      <%# </div> %>
    </div>
  </div>
</div>
